# Byte-compiled files
*.py[cod]
__pycache__/
*.so

# Logs
*.log
logs/
*.out

# Virtual Environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Config and cache files
*.ini
*.cfg
*.bak
*.swp
*.tmp

# Data directories
data/
*.csv
*.json
*.sqlite
*.db

# Checkpoints and models
checkpoints/
*.h5
*.ckpt

# Test outputs
test-results/
coverage/
*.coverage

# Ignore results of training
results/
*.gif

# Python environment and dependency files
Pipfile
Pipfile.lock

# IDE and editor-specific files
.vscode/
.idea/

# Operating system files
*.~undo-tree
*.swo
*.swp
*~
